# OS
.DS_Store

# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# build artifacts
dist/
build/
*.egg-info/

# env
.env

# Node
frontend-ui/node_modules/

# Go
bin/

# Test Coverage
**/.coverage
**/htmlcov/
**/coverage.xml